@font-face {
    src: url("Zombie_Holocaust.ttf");
}
#button {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
#button:hover {
    -fx-background-color: black;
    -fx-text-fill: white;
}
#button:pressed {
    -fx-text-fill: #7d0303;
}
#title {
    -fx-font-family: 'Zombie Holocaust';
    -fx-fill: black;
    -fx-font-size: 10em;
}

