/*@font-face {
	res: url('Zombie_Holocaust.ttf');
}
.text {
	-fx-font-family: 'Zombie Holocaust';
}*/

@font-face {
  font-family: 'Zombie';
  font-style: normal;
  font-weight: 400;
  src: local('Zombie_Holocaust.tff');
}
